<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/css/clean-blog.min.css" rel="stylesheet">



    <title>Display All Job posts</title>

</head>

<body>
    <!-- Navigation -->
    <nav th:replace="base :: navbar"></nav>
    <!-- /.Navigation -->

    <!-- Page Header -->
    <header th:replace="base :: header"></header>
    <!-- /.Page Header -->


    <!--<form action="#"-->
    <!--th:action="@{/enterEducation}"-->
    <!--th:object="${newEducation}"-->
    <!--method="post">-->
    <!--<input type="hidden" th:field="*{person.id}"/>-->
    <!--<input type="hidden" th:field="*{id}"/>-->

    <!--th:action="@{/addskillstoperson}"-->
    <!--th:object="${currentPerson}"-->


    <!--Main Content -->
    <div class="container">
        <form th:action="@{/addskilltojob}"
              th:object="${currentJob}"
              method="post">
            <!--<input type="hidden" th:field="*{currentPerson.id}"/>-->
            <input type="hidden" th:field="*{id}"/>
            <!--<input type="hidden" th:field="*{currentJob.id}"/>-->
            <!--<input type="hidden" th:field="*{id}"/>-->


            <input type="text" th:value="${currentJob.id}" style="width:15px" name="currentJob">
            <label th:inline="text">Adding skills for [[${currentJob.title}]]</label>

            <select name="skills">
                <option th:each="aSkill:${skillList}"
                        th:value="${aSkill.id}" th:text="${aSkill.skillTitle}"></option>
            </select>

            <input type="submit" value="Add Skill!">
        </form>


        <br><br>

        <!--Redirect to another pages-->
        <div class="col-sm-4">
            <a class="btn btn-info" th:href="@{/addskill}" type="submit" type = "submit" style="width:300px">Create a New Skill</a><br>
        </div>
        <br>

        <div class="col-sm-4">
            <a class="btn btn-success" href="/welcome" type = "submit" style="width:300px">Recruiter Home Page</a>
        </div>
        <!--/.Redirect to another pages-->
    </div>
    <!-- /.Main Content -->


    <!-- Footer -->
    <div th:replace="base :: footer"></div>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>


</body>
</html>