<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/css/clean-blog.min.css" rel="stylesheet">

    <title>Recruiter Hunt - Result Job</title>

</head>

<body>
<!-- Navigation -->
<nav th:replace="base :: navbar"></nav>
<!-- /.Navigation -->

<!-- Page Header -->
<header th:fragment="header" class="masthead" style="background-image: url('/img/banner-finger-keyboard.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Recruiter Hunt </h1>
                    <span class="subheading">Welcome to Recruiters Web Application<br>Create your job post and find matched resumes in 15 minutes!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /.Page Header -->








<!-- Main Content -->
<div class="container">

    <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0"><strong>Here is the information you just entered</strong></h2>
        <hr class="divider">

        <div class="form-group">
            <h5 th:text="${personObject.firstName}+ ' ' + ${personObject.lastName} + ', you created a new Job Post:'" style="font-weight: bold; color:steelblue"></h5>
            <!--<h5 th:text="'Degree Title: ' + ${newEducation.degreeTitle}"></h5>-->
            <!--<h5 th:text="'Educational Institution: ' + ${newEducation.educationalInstitution}"></h5>-->
            <!--<h5 th:text="'Graduate Year: ' + ${newEducation.graduateDate}"></h5>-->

            <h5 style="font-weight: normal" th:inline="text"><strong>Job Title: </strong>[[${newJob.title}]]</h5>
            <h5 style="font-weight: normal" th:inline="text"><strong>Company: </strong>[[${newJob.employer}]]</h5>
            <h5 style="font-weight: normal" th:inline="text"><strong>Salary range: </strong>[[${newJob.minSalary}]] - [[${newJob.maxSalary}]]</h5>
            <h5 style="font-weight: normal" th:inline="text"><strong>Job Description: </strong>[[${newJob.description}]]</h5>

            <!--<a th:href="@{/updateEducation/{id}(id=${newEducation.id})}">Update</a>-->
        </div>

        <br>

        <!-- Enter more Info -->
        <div class="form-group">

            <!--================ Recruiter Content ONLY===============-->
            <div sec:authorize="hasAuthority('RECRUITER')">
                <div class="col-sm-4">
                    <a th:if="${gotskills>0}" class="btn btn-secondary" th:href="@{/addskilltojob/{id}(id=${job.id})}">Add Skill from the List to This Job</a><br><br>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-secondary" th:href="@{/addskill}" type="submit">Create a New Skill</a><br><br>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-success" href="/displayRecruiterAllJobPosts" type="submit">Go to the list of all job that you posted</a><br><br>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-success" href="/welcome" type = "submit" style="width:300px">Recruiter Home Page</a><br><br>
                </div>
            </div>
            <!--================/.Recruiter ===============-->
        </div>
        <!-- /.Enter more Info -->
    </div>

    <!-- Links to other Pages -->
    <div class="bg-faded p-4 my-4" style="text-align: center">
        <div class="container1" style="text-align: center">
            <div class="container1">
                <div class="row">

                    <div style="padding-top: 10%"> Logged user: <span sec:authentication="name">The user is not logged in yet</span></div>
                    <div><a href="/logout">Logout</a></div>
                    <div class="col-sm-4">
                        <a class="btn btn-success" href="/welcome" type = "submit" style="width:300px">RECRUITER Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Links to other Pages -->

</div>
<!-- /.container -->





        <!-- Footer -->
        <div th:replace="base :: footer"></div>

        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/popper/popper.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="/js/clean-blog.min.js"></script>


</body>

</html>
